#contact-section {
  display: flex;
  flex-direction: column;
  place-items: center;
  margin-bottom: 2rem;
}

#contact-text {
  min-width: 10rem;
  max-width: 30rem;
  margin: 0 2rem 1rem 2rem;
}

#contact-list {
  list-style: none;
  padding: 0;
}

#contact-list li {
  margin: 0.4rem 0;
  padding: 0.8rem;
  background-color: var(--primary-color);
}

#contact-list li a {
  text-decoration: none;
  color: var(--secondary-font-color);
}
