#hero-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 2rem;
  background-color: var(--secondary-color);
}

#hero-section-image {
  height: 20rem;
  object-fit: contain;
}

#hero-section-title {
  margin: 0;
}

#work-gallery {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 2rem;
}

.work-thumbnail {
  width: 20rem;
  aspect-ratio: 16 / 9;

  object-fit: cover;
}

.work-title {
  margin: 0;
}

.work-category {
  margin: 0;
}
