#hero-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 2rem;
  background-color: var(--secondary-color);
  height: 94vh;
  justify-content: center;
}

#hero-section-image {
  height: 20rem;
  object-fit: contain;
}

#hero-section-title {
  margin: 0;
}
