#hero-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 2rem;
  background-color: var(--secondary-color);
}

#hero-section-image {
  height: 20rem;
  object-fit: contain;
}

#hero-section-title {
  margin: 0;
}

#work-gallery {
  display: grid;
  margin: 0 1.4rem;
}

.work-title {
  margin-bottom: 0;
}

.work-category {
  margin-top: 0.5rem;
  margin-bottom: 0;
}
