#hamburger-btn {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
  cursor: pointer;
}

#hamburger-btn span {
  background-color: #000000;
  width: 100%;
  height: 0.3rem;
}
