/* General */
body {
  margin: 0;
  overflow-x: hidden;
}

/* Header */
header {
  padding: 0.8rem;
  background-color: rgb(0, 195, 255);
}

/* Hamburger menu */
#hamburger-btn {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
  cursor: pointer;
}

#hamburger-btn span {
  background-color: #000000;
  width: 100%;
  height: 0.3rem;
  transition: 0.2s ease-in-out;
}

#hamburger-btn.open span:nth-child(1) {
  transform: translate(0, 0.6rem) rotate(45deg);
}

#hamburger-btn.open span:nth-child(2) {
  opacity: 0;
}

#hamburger-btn.open span:nth-child(3) {
  transform: translate(0, -0.7rem) rotate(-45deg);
}

#mobile-nav {
  position: fixed;
  top: 3.6rem;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 195, 255);
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

#mobile-nav.open {
  visibility: visible;
  opacity: 0.9;
}

#mobile-nav-list {
  display: flex;
  flex-direction: column;
}

#mobile-nav-list li {
  margin: 0.5rem 0;
  list-style: none;
}

#mobile-nav-list li a {
  text-decoration: none;
}
