:root {
  /* Colors */
  --primary-color: #00a1d6;
  --secondary-color: #000000;
  --accent-color: #ffffff;

  /* Typography */
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Lora", serif;
  --primary-font-color: #ffffff;
  --secondary-font-color: #000000;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: var(--secondary-font);
  color: var(--primary-font-color);
  background-color: var(--secondary-color);
}

h1 {
  text-align: center;
  font-family: var(--primary-font);
}

/* Header */
header {
  height: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  font-family: var(--primary-font);
  font-weight: 900;
  font-size: 1.4rem;
  background-color: var(--primary-color);
}

#wordmark {
  text-decoration: none;
  color: var(--secondary-font-color);
}

/* Hamburger menu */
#hamburger-btn {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#hamburger-btn span {
  background-color: var(--secondary-color);
  width: 100%;
  height: 0.3rem;
  transition: 0.2s ease-in-out;
}

#hamburger-btn.open span:nth-child(1) {
  transform: translate(0, 0.6rem) rotate(45deg);
}

#hamburger-btn.open span:nth-child(2) {
  opacity: 0;
}

#hamburger-btn.open span:nth-child(3) {
  transform: translate(0, -0.7rem) rotate(-45deg);
}

#mobile-nav {
  position: fixed;
  top: 3.6rem;
  right: 0;
  width: 100vw;
  height: fit-content;
  background-color: var(--primary-color);
  text-align: center;
  visibility: hidden;
  transition: 0.2s ease-in-out;
}

#mobile-nav.open {
  visibility: visible;
}

#mobile-nav-list {
  display: flex;
  flex-direction: column;
  padding: 0;
}

#mobile-nav-list li {
  margin: 0.5rem 0;
  list-style: none;
}

#mobile-nav-list li a {
  color: var(--secondary-font-color);
  text-decoration: none;
}

#desktop-nav {
  display: none;
}

#desktop-nav-list {
  display: flex;
  padding: 0;
  margin: 0;
}

#desktop-nav-list li {
  margin: 0 0.8rem;
  list-style: none;
}

#desktop-nav-list li a {
  text-decoration: none;
  color: var(--secondary-font-color);
}

/* Media queries */
/* Header */
@media screen and (min-width: 584px) {
  #hamburger-btn {
    display: none;
  }

  #desktop-nav {
    display: block;
  }
}
