/* Hamburger menu */
#hamburger-btn {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
  cursor: pointer;
}

#hamburger-btn span {
  background-color: #000000;
  width: 100%;
  height: 0.3rem;
  transition: 0.2s ease-in-out;
}

#hamburger-btn.open span:nth-child(1) {
  transform: translate(0, 0.6rem) rotate(45deg);
}

#hamburger-btn.open span:nth-child(2) {
  opacity: 0;
}

#hamburger-btn.open span:nth-child(3) {
  transform: translate(0, -0.7rem) rotate(-45deg);
}
