#work-details-gallery {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 1rem;
  margin: 0 2rem 2rem 2rem;
}

.work-details-item {
  width: 100%;
  object-fit: cover;
  max-width: 50rem;
}

.work-video {
  width: 100%;
}
