#work-gallery {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 2rem;
  margin: 0 2rem 4rem 2rem;
}

.work-container {
  margin: 0;
  padding: 0;
}

.work-thumbnail {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.work-title,
.work-category {
  margin: 0;
}

@media screen and (min-width: 800px) {
  #work-gallery {
    grid-template-columns: 1fr 1fr;
  }
}
